<%- layout("/layouts/boilerplate") %>

    <br>
    <h1>Signin for Wanderlust</h1><br>
    <div class="row">
    <div class="col-8 offset-2">
        <form action="/login" novalidate class="needs-validation" method="post">
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input name="username" id="username" class="form-control" required></input>
                <div class="invalid-feedback">Please enter the username</div>
            </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                    <div class="invalid-feedback">Please enter a valid password</div>
                </div>
                <button class="btn btn-success">Login</button>
        </form>
    </div>
    </div>
